### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__/*

*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version
.autoenv.zsh

# Environments
.venv
webir_venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# project specific
models/
vector_db_test
store/mongo/data
!.env.example
.env*

# media files
*.mp3
*.mp4

# Front
chat/node_modules/
chat/.next/
chat/*.tsbuildinfo
chat/next-env.d.ts
chat/.vercel
